.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 32px 0 28px;
  gap: 0px;
}
.header__date-and-location {
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.header__logo {
  width: 89px;
  height: 40px;
  margin-right: 24px;
}
.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header__add-clothes-btn {
  padding: 0 20px;
  border: none;
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

.header__profile {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header__username {
  font-family: Cabinet Grotesk, sans-serif;
  font-size: 20px;
  line-height: 100%;
}

.header__link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.header__date-and-location {
  margin: 0;
}

.header__auth-btns {
  width: 67;
  height: 24;
  opacity: 1;
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
}

.header__login {
  border: none;
  padding: 0;
  cursor: pointer;
}

.header__signup {
  border: none;
  padding: 0 20px;
  cursor: pointer;
}

.header__avatar_none {
  font-family: Cabinet Grotesk, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 1);
}

.header__username {
  margin: 0;
}

.header__user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}
